@font-face {
  font-family: 'icons';
  src:
    url('../fonts/icons.ttf?m463la') format('truetype'),
    url('../fonts/icons.woff?m463la') format('woff'),
    url('../fonts/icons.svg?m463la#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  /* speak: never; */
  font-style: normal;
  /* font-weight: normal; */
  /* font-size: 500px;
  font-variant: normal;
  text-transform: none;
  line-height: 1; */

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-phone:before {
  content: "\e900";
  color: #e4b564;
  font-size: 13px;
  display: block;

  height: 13px;
  /* margin-top: 3px; */
  margin-right: 10px;
}
