@import url(icon.css);

body {
  background-color: #171717;
  font-family: "Gilam", sans-serif;
  font-style: normal;
}

.container {
  width: 1460px;
  margin: 0 auto;
}

/* other */

.header-block {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
}

.text-style-simple-block1 {
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}

.text-style-simple-block2 {
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  color: #ffffff;
}

.text-weight {
  font-weight: 700;
}

.text-color-uniq {
  color: #000000;
}

/* header */

.header {
  margin-top: 37px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 216px;
  height: 33px;
  margin-top: 9px;
}

.btn-callback {
  width: 218px;
  height: 50px;
  border: 1px solid #e4b564;
  box-sizing: border-box;
}

.btn-callback a {
  text-decoration: none;
  /* font-family: "Circe"; */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 48px;
  color: #e4b564;
}

._icon-phone span {
  font-family: "Circe";
}

.btn-callback ._icon-phone {
  display: flex;
  justify-content: center;
}

/* Outdoor heating */

.block-outdoor-heating {
  margin-top: 120px;
}

.block-disc {
  margin: 41px 0;
  width: 1182px;
  height: 56px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}

.block-outdoor-heating-foto {
  display: grid;
  grid-template-columns: repeat(
    8,
    467px 34px 184px 30px 30px 223px 25px 467px
  ); /* оптимальнее варианта не нашел - везде разные отступы */
  grid-template-rows: repeat(2, 468px);
  grid-row-gap: 27px;
  text-align: center;
  font-weight: 700;
}

.grid-block-1-item1 {
  grid-column: 1;
  background-color: #634f2c;
  text-align: center;
  vertical-align: middle;
}

.grid-block-1-item2 {
  grid-column: 3 / 7;
  background-color: #b4a385;
}

.grid-block-1-item3 {
  grid-column: 8;
  background-color: #e4b564;
}

.grid-block-1-item4 {
  grid-column: 1 / 5;
  grid-row: 2;
  background-color: #635a4a;
}

.grid-block-1-item5 {
  grid-column: 6 / 9;
  grid-row: 2;
  background-color: #b08c4d;
}

.discrpipt1-block-1 {
  display: block;
  padding-top: 220px;
}

.discrpipt2-block-1 {
  display: block;
  padding-top: 205px;
}

/* Our techpark */

.block-our-techpark {
  margin-top: 161px;
}

.block-our-techpark-foto {
  height: 897px;
  display: grid;
  grid-template-columns: repeat(
    5,
    467px 30px 467px 29px 467px
  ); /* оптимальнее варианта не нашел - везде разные отступы */
  grid-template-rows: repeat(
    10,
    255px 26px 32px 24px 102px 33px 122px 26px 257px 20px
  ); /* оптимальнее варианта не нашел - везде разные отступы */
  margin: 94px 0 191px 0;
}

.grid-block-2-item1 {
  grid-column: 1;
  grid-row: 1 / 4;
  background-color: #0e0e0e;
}

.grid-block-2-item2 {
  grid-column: 3 / 4;
  grid-row: 1 / 6;
  background-color: #242424;
}

.grid-block-2-item3 {
  grid-column: 5;
  grid-row: 1 / 2;
  background-color: #1f1f1f;
}

.grid-block-2-item4 {
  grid-column: 1;
  grid-row: 5 / 11;
  background-color: #1f1f1f;
}

.grid-block-2-item5 {
  grid-column: 3;
  grid-row: 7 / 10;
  background-color: #e4b564;
}

.grid-block-2-item6 {
  grid-column: 5;
  grid-row: 3 / 8;
  background-color: #0e0e0e;
}

.grid-block-2-item7 {
  grid-column: 5;
  grid-row: 9 / 11;
  background-color: #0a0909;
}

.discrpipt1-block-2 {
  display: block;
  padding: 43px 0 0 51px;
}

.discrpipt2-block-2 {
  display: block;
  padding: 56px 0 0 51px;
}

.discrpipt3-block-2 {
  display: block;
  padding: 44px 0 0 47px;
}

.discrpipt4-block-2 {
  display: block;
  padding: 47px 0 0 52px;
}

/* Our clients */

section .block-our-clients {
  border: #b08c4d solid 1px;
}

.block-our-clients {
  height: 1054px;
  background-color: #0e0e0e;
}

.header-our-clients {
  padding-top: 162px;
  display: flex;
  justify-content: space-between;
}

.header-block-clients {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
  margin-top: 10px;
}

.btn-all-project {
  width: 180px;
  height: 50px;
  border: 1px solid #e4b564;
  box-sizing: border-box;
}

.btn-all-project a {
  text-decoration: none;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;
  color: #e4b564;
}

.btn-all-project .all-project {
  display: flex;
  justify-content: center;
}

.grid-block-3 {
  margin-top: 61px;
  display: grid;
  grid-template-columns: repeat(3, 487px 486px 487px);
  grid-template-rows: repeat(2, 391px);
}

.grid-item-block-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid-block-3-item1 {
  background-color: #634f2c;
}

.grid-block-3-item2 {
  background-color: #e8d2abc2;
}

.grid-block-3-item3 {
  background-color: #e4b564;
}

.grid-block-3-item4 {
  background-color: #635a4a;
  grid-row: 2;
}

.grid-block-3-item5 {
  grid-row: 2;
  background-color: #b08c4d;
}

.grid-block-3-item6 {
  grid-row: 2;
  background-color: #634f2c;
}

.logo-client-3 {
  height: 62px;
}

.logo-client-4-1 {
  padding: 61px 0 0 214px;
}

.img-client-4{
  width: 175px;
  height: 134px;
  margin: 0px 0px 0px 12px;
}
.logo-client-4-2 {
  height: 126px;
  /* padding-bottom: 12px; */
}

.text-client-4 {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  width: 326px;
  height: 140px;
  padding-bottom: 10px;
}

.text-client-4 span {
  font-weight: 600;
}

/* footer */

footer {
  height: 239px;
}
